body{
    background-color: #FAFAFA;
}

.btn{
    border-radius: 0.5rem;
}

/*button on top-right to register */
.btn-register{
    border-radius: 12px;
    padding: 10px 30px 10px 30px;
}

.navbar-nav{
    display: flex;
    vertical-align: middle;
    width: 100%;
    justify-content: space-around;
}

/*black box to background effect */
.retangulo-131{
    background: #111111 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 60vh;
}

/* Styling the nav-link font */
.navbar-dark .navbar-nav .nav-link {
    color: #FFFFFF;
}

.slider-backgroud-white{
    position: relative;
    margin: 0 auto;
    margin-top: -40vh;  
    padding: 2.5rem 2.5rem 2rem 2.5rem;
    width: 90vw;
    background-color: white;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 50px 50px 99px #2222220F;
    border-radius: 30px;
    opacity: 1;
}

.btn-start-register{
    color: white;
    font-size: large;
    background: #F46632 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 300px;
}

.text-p{
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    max-width: 25rem;
    line-height: 2.5;
}

.text-h3{
    text-align: left;
    letter-spacing: 0px;
    color: #8D8D8D;
    opacity: 1;
}

/* ABOUT US SECTION */
.about-us-section{
    margin-top: 5rem;
}

.about-us,
.course-experience,
.masters,
.course-fee,
.schedule-box {
    margin-bottom: 5rem;
    padding: 2.5rem 5rem 0.25rem 5rem;
    background-color: ##FAFAFA;
    box-shadow: 50px 50px 99px #4141410F;
    border-radius: 30px;
    opacity: 1;
    text-align: center;
}
.retangulo-93{
    position: relative;
    background-color:#101010;
    height: 15rem;
    width: 30rem;
    margin-left: 5rem;
    border-radius: 30px;
}

.retangulo-93 img:first-child{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.retangulo-93 a img:last-child{
    position: absolute;
    margin-right: 25px;
    margin-bottom: 25px;
}

.social-medias{
    margin-top: 3.5rem;
}
.social-medias img{
    display: block;
    margin: 10px 0 0 0;
}

.about-us .row .col-sm:last-child{
    display: flex;
}

.about-us-text{
    margin: 25px auto 0 auto;
    text-align: center;
}

.large-text-style{
    font-size: 120px;
    font-weight: bold;
    opacity: 0.05;
}

.small-text-style{
    margin: 0 auto 0 auto;
    margin-top: -70px;
    font-size: 24px;
    font-weight: bold;
}

p{
    margin-top: 2rem;
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    line-height: 2.5;
}

/*COURSE EXPERIENCE SECTION*/
.buttons-experience{
    margin-top: 5rem;
}

.btn-outline-dark:not(:disabled):not(.disabled).active,
.btn-outline-dark:hover,
.show>.btn-outline-dark.dropdown-toggle {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

.course-experience img:first-child{
    width: 80%;
}



/*SESSIONS SECTION */
.sessions{
    text-align: center;
}
.session .row:first-child{
    background-color: #F8F8F8;
    height: 2.5rem;
    margin-top: 5rem;
    border-left: black;
    border-radius: 0.25rem;
}

.session .row{
    border-left: #b9b9b9 solid 1px;
}

.session .row:first-child{
    border-left: #000000 solid 6px;
}



.session .row:last-child .col-sm-3{
    text-align: left;
}

.sessions .session:last-child{
    margin-bottom: 5rem;
}

.session .col-sm:first-child{
    font-size: 26px;
    font-weight: bold;
}

/*MASTERS SECTION */
.masters{
    text-align: center;
}

.masters-gallery{
    margin-top: 2.5rem;
}

.masters-gallery img{
    width: 100%
}

.masters-gallery .container .col-sm{
    text-align: left;
}

.masters-gallery .container h7{
    font-weight: bold;
    font-size: 0.85rem;
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.masters-gallery .container span{
    text-align: left;
    font-size: 0.85rem;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.faq{
    text-align: center;
}

.questions-faq .row:first-child{
    margin-top: 5rem;
}
.questions-faq .row{
    height: 5rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 10px 10px 99px #D3D3D329;
    border-radius: 26px;
    opacity: 1;
}
.questions-faq .col-sm{
    display: flex;
    justify-content: space-between;
}
.questions-faq .col-sm span:first-child{
    margin-left: 2rem;
    font-size: 15px;
    font-weight: bold;
}
.questions-faq .col-sm span:last-child{
    margin-right: 2rem;
    font-size: 35px;
    font-weight: bold;
}

/*course-fee section */
.course-fee{
    margin-top: 5rem;
}

.course-fee-slider{
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: 2.5rem;
}
.course-fee-slider .col-sm-7{
    text-align: left;
}

.course-fee-slider .col-sm-7 h4{
    margin-bottom: 2rem;
}
.course-fee-slider .col-sm-7 span{
    display: block;
    font-size: 13px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-top: 0.5rem;
}

.course-fee-slider .register{
    background-color:#000000;
    height: 100%;
    width: 95%;
    border-radius: 25px;
    opacity: 1;
    color: #ffffff;
    padding-top: 2rem;
}
.course-fee-slider .register span:first-child{
    text-decoration: line-through;
}
.course-fee-slider .register span:nth-child(2n){
    font-size: 24px;
    font-weight: bold;
}

.course-fee-slider .register span{
    display: block;
}

.btn-register-slide{
    color: white;
    font-size: large;
    background: #F46632 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 150px;
}

.register .btn{
    margin-top: 1rem;
}

.course-fee-slider hr{
    margin-top: 4rem;
}
.course-fee-slider .last-span-warn{
    text-align: center;
    font-size: 12px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.49;
}


/**/
.black-container-mail{
    background: #111111 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 40vh;
}

.asign-email .col-sm-8{
    color: #ffffff;
    padding-top: 4rem;
}

.asign-email .col-sm-8 p{
    color: #ffffff;
}

.asign-email .col-sm-8 span{
    color: #ACACAC;
    font-size: 15px;
}

.asign-email .col-sm-8 input{
    max-width: 20rem;
    margin-bottom: 2rem;
}

.asign-email .col-sm-8 h1{
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

/*PROJECTS SECTION*/
.projects-box{
    text-align: center;
    margin-top: 5rem;
}
.projects{
    margin-top: 5rem;
}
.projects .col-sm:first-child{
    text-align: left;
}

.projects .col-sm:last-child{
    text-align: center;
}
.projects .col-sm:first-child h2{
    font-size: 38px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.projects .col-sm:first-child span:first-child{
    margin-top: 4rem;
    font-size: 35px;
}
.projects .col-sm span{
    margin-top: 0.5rem;
    display: block;
    color:#000000;
    font-size: 20px;
}

.counter-projects{
    background-color: #F5F5F5;
    border-radius: 16px;
    width: 150px;
    height: 50px;
    text-align: center;
}

.background-slider-projects{
    background-color: #F5F5F5;
    width: 100%;
    height: 70%;
    border-radius: 30px;
    opacity: 1;
}

.slider-projects{
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 50px 50px 99px #2C2C2C0F;
    height: 25rem;
    width: 40%;
    margin-top: -15rem;
    border-radius: 30px;
    opacity: 1;
}

.schedule-box{
    margin-top: 5rem;
}

.start-course-text,
.end-course-text{
    text-align: center;
    font-size: 29px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    font-weight: bold;
}

.schedule{
    margin-top: 5rem;
    padding-bottom: 5rem;
}

.schedule .row:nth-child(2n){
    text-align: center;
    margin-top: 4rem;
}

.schedule .row:last-child{
    margin-top: 4rem;
}

.date-start-course,
.date-end-course{
    background-color: #FFFFFF;
    box-shadow: 40px 40px 99px #ACACAC29;
    border-radius: 26px;
    opacity: 1;
    width: 350px;
    height: 50px;
    font-size: 35px;
    font-weight:900;
    margin: 0 auto;
}

.days-left-start{
    background: #000000;
    border-radius: 16px;
    opacity: 1;
    padding: 10px;
    color: #ffffff;
    font-size: 25px;
    font-weight: 900;
    margin-right: 15px;
}
.text-days-left-start{
    color: #000000;
    font-size: 22px;
    font-weight:700;
    padding-right: 15px;
}

/**/
.background-white{
    background: #ffffff;
    opacity: 1;
    min-height: 200px;
    padding-bottom: 100px;
}

.my-footer .col-sm{
    justify-content: space-between;
    margin-top: 5rem;
}

.my-footer .col-sm{
    text-align: center;
}
@media only screen and (max-width: 990px) {
    
    .slider-backgroud-white{
        margin-top: 0; 
    }

    .retangulo-131{
        height: auto;
    }

    .carousel-item .col-sm:last-child{
        text-align: center;
    }
    .carousel-item .col-sm:last-child img{
        width: 100%;
        margin-top: 2rem;
    }

    .btn-start-register{
        display: block;
        margin: 0 auto;
        width: 10rem;
    }

    .retangulo-93{
        width: 90%;
        margin: 0 auto;
    }

    .large-text-style{
        font-size: 50px;
    }

    .small-text-style{
        margin-top: -20px;
    }
    .social-medias{
        display: none;
    }
    .about-us, .course-experience{
        padding: 2.5rem 2.5rem 2rem 2.5rem;
    }
    .asign-email .col-sm-4 img:first-child{
        width: 100%;
        margin: 0 auto;
    }
    .date-start-course,
    .date-end-course{
        font-size: 25px;
        width: 90%;
        height: 41px;
    }

    .session .row:last-child img{
        margin-top: 100px;
    }

    .masters-gallery .col-sm{
        margin-bottom: 35px;
    }

    .course-fee {
        padding: 2.5rem 0.75rem 0.25rem 0.75rem;
    }

    .course-fee-slider .register{
        margin-top: 25px;
    }


    .asign-email img:last-child{
        display: none;
    }

    .black-container-mail{
        height: 100%;
        padding-bottom: 5px;
    }

    .projects .col-sm:first-child span:first-child {
        display: none;
    }
    .background-slider-projects {
        display: none;
    }

    .slider-projects {
        height: 25rem;
        width: 250px;
        margin-top: 25px;
        border-radius: 30px;
    }

    .counter-projects{
        display: none;
    }

    .schedule .row:last-child .col-sm:last-child span{
        display: block;
        font-size: 20px;
        padding-bottom: 5px;
    }
}

@media only screen and (min-width: 991px){
    .carousel-item .col-sm:last-child {
        text-align: center;
    }
    
    .carousel-item .col-sm:first-child p{
        padding-top: 3.5rem;
        margin-bottom: 2.5rem;
    }

    .retangulo-93{
        margin-bottom: -7rem;
    }

    .about-us .row .col-sm:last-child{
        margin-top: -2rem;
    }

    .course-experience .col-sm:first-child{
        max-width: 20rem;
    }
    
    .navbar-expand-lg{
        padding-top: 2.5rem;
    }

    .asign-email .col-sm-4 img:first-child{
        width: 150%;
        margin-left: -100px;
        opacity: 0.2;
    }
    .retangulo-131{
        min-height: 300px;
    }
    .black-container-mail{
        min-height: 385px;
    }
}